<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KFC Animation</title>
  <link rel="stylesheet" href="css/ent.ani.page.css">
</head>
<body>
  <div class="kfc-animation">
    <div class="logo">
      <div class="bucket">
        <img src="IMG/fried-chicken.gif" alt="Fried Chicken">
      </div>
    </div>
    <div class="text">
      <h1>KFC</h1>
      <p>Finger Lickin' Good</p>
    </div>
  </div>
  
  <script src="redirect.js"></script>
</body>
</html>
